*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav{
    padding: 50px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 28px;
    margin-right: 20px;
}

ul{
    list-style-type: none;
    float: right;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:#ffffff;
    padding: 10px 15px;
    font-size: 30px;
    transition: 0.3s ease;
}

ul li a:hover{
    background-color: rgb(255,69,0,0.9);
    color:rgb(255, 255, 255,0.8);
    border-radius: 10px;
}

.container{
    display: flex;
    width: 100%;
    margin-top: 40px;
}
.containerright{
    margin-left: 50px;
    margin-right: 50px;
    width: 50%;
    height: 200px;
    background-color: none;
    border-radius: 5px;
}
.containerleft{
    width: 40%;
    margin-left: 60px;
    height: 500px;
    background-color: none;
    text-align: center;
    margin-bottom: 90px;
    display: grid;
}

.text h1{
    margin-right: 20%;
}
.icons a img{
    margin-top: 30px;
    width:37px;
    height: 37px;
    margin-right: 8%;
}
.cv-material{
    display: grid;
    font-size: 15px;
}
.cv-material h2,h1,p{
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

.containerleft img{
    width: 80%;
    height: 600px;
}

.text-resume{
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}
.containerright p{
    font-size: 20px;
}
.containerleft h1 {
    margin-top: 10px;
}

/* .database img{
    width:40px;
    height: 40px;
} */

.til h1{
    text-align: center;
    margin-top: 20px;
    font-family:  "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
}

footer{
    background-color: rgba(49, 48, 48, 0.8);
    width: 100%;
    height: 340px;
    margin-top: 500px;
    border-radius: 5px;
}

.app{
   
    margin-top: 20px;
    margin-bottom:20px ;
}

.fa-skype {
    background: #00aff0;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.sky{
      border-radius: 20px;
      background:#E6E6FA;
      color:#2F4F4F;
      height: 40px;
      width: 220px;
      font-size: 20px;
}
.sky:hover{
      cursor: pointer;
      background:	#C71585;
      color:#FFFF00;
}
.text1{
      margin-left: 60px;
}

.footer-home{
    display: flex;
}

.address{
    margin-left: 30px;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    color: rgb(255, 255, 255,0.7);
    align-items: center;
}
.information{
    margin-left: 100px;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    color: rgb(255, 255, 255,0.7);
}
.copyright{
    padding-top: 10px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
    margin-top: 60px;
}

.company{
    margin-left: 110px;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    color: rgb(255, 255, 255,0.7);
}

.location{
    margin-left: 38px;
}