*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}

nav{
    background-color:none;
    padding: 50px;
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

ul{
    list-style-type: none;
    float: right;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:#ffffff;
    padding: 10px 15px;
    font-size: 20px;
    transition: 0.3s ease;
}


ul li a:hover{
    background-color: #fd8b3e;
    color:#1B2631;
}

.main{
    padding: 10px;
}
.image{
    width: 1200px;
    height: 350px;
    margin-top: 40px;
    margin-left: 70px;
    background-image: url(../images/pc.jpg);
}
.info{
    width: 300px;
    height: 300px;
    margin-top: 140px;
    margin-left: 700px;
    border-radius: 10px;
    background-color:none;
    font-size: 18px;
}
footer{
    background-color: #F8F8FF;
    width: 1300px;
    height: 300px;
    margin-top: 118px;
    margin-left: 20px;
    border-radius: 5px;
}

.main{
    background-image: url(../images/cap.jpg);
}

div h2{
    color: #ffffff;
}

.app{
   
    margin-top: 20px;
    margin-bottom:20px ;
}

.fa-skype {
    background: #00aff0;
    color: white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.sky{
      border-radius: 20px;
      background:#E6E6FA;
      color:#2F4F4F;
      height: 40px;
      width: 220px;
      font-size: 20px;
}
.sky:hover{
      cursor: pointer;
      background:	#C71585;
      color:#FFFF00;
}
.text1{
      margin-left: 60px;
}
.contact{
    width: 300px;
    height: 50px;
    background-color: none;
}